* {
    /* border: solid 1px black; */
    box-sizing: border-box;
}

a:link,
a:visited,
a:hover,
a:active {
    color: black;
}

.error{
    color:red;
}
body {
    background-color: rgba(221, 221, 221, 0.308);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-family: 'Lora', serif;
}

header {
    height: 100px;
    margin-bottom: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    background: linear-gradient(to right, rgb(255, 217, 0), rgb(255, 255, 255));

}

.form_search {
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0 20px 0 20px;
    min-width: 200px;
}

#input_search {
    background: linear-gradient(to right, rgba(139, 141, 95, 0.856), rgba(255, 255, 255, 0.849));
    font-size: 20px;
    border: none;
    border: solid 1px white;
    border-radius: 5px;
    text-align: center;
    margin-left: 10px;
}

#input_search::placeholder {
    color: rgb(255, 255, 255);
}

#input_search:focus {
    outline: none;
}

.header_search img {
    vertical-align: middle;
    margin: 7px;
}

.header_search img:hover {
    transform: scale(1.2);
}

.header_logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;

}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}


nav {
    background-color: rgb(61, 57, 57);
    min-width: 200px;
}

nav ul {
    min-height: 500px;
    background-color: rgb(61, 57, 57);
    margin-top: 0;
    margin-bottom: 0;
    padding: 15px 0px 15px 30px;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 20px;
    list-style-type: none;
    padding-right: 20px;
}

nav li {
    text-decoration: white;
    margin-bottom: 7px;
    padding-left: 20px;
}

nav li a {
    margin-left: -10px;

}

nav li:hover {
    list-style-type: "\1F37F";
}


nav a:link,
a:visited,
a:hover {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgb(255, 217, 0);
}

main .wrap {
    display: flex;
    flex-direction: column;
}

div .film {
    min-width: 568px;
    min-height: 500px;
    background: url("../image/mars.webp") center/cover no-repeat;
    padding: 20px;
    position: relative;

}

.film_genre {
    display: inline-block;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
}

.film_title {
    font-weight: bold;
    font-size: 40px;
    line-height: 56px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.film_descr {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.descrText {
    max-width: 100%;
    font-weight: 400;
    padding: 0 20px;
    /* font-family: Arial, Helvetica, sans-serif; */
    text-transform: none;
}

.film_ratings {

    margin-top: 13px;
    position: absolute;
    bottom: 20px;
}

.film_ratings span {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #FFD500;
    margin-right: 25px;
}

main .customize {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* align-items: stretch; */
    padding: 0 20px;

}

.customize h4 {
    margin: 0 auto;
}

.customize fieldset {
    margin-top: 15px;
}

#movie_name {
    margin-top: 5px;
    margin-bottom: 12px;
}

#yes {
    margin-left: 0;
}

#no {
    margin-left: 15px;
    margin-top: 5px;
}

.console h4{ 
    margin: 0 20px 0 20px;
}
.output_field {
    overflow-y: scroll;
    overflow-x:scroll;
    height: 200px;
    border:solid 1px black;
    margin: 20px;
    margin-top: 5px;
    padding: 10px; 
    /* background-color:#5f5c5c; */

}

.output {
    overflow-wrap: break-word;

    /* color: #fff; */
}


.customize [type="submit"] {
    margin-top: 10px;
}

.customize .db {
    flex-grow: 1;
    margin-bottom: 3px;

}

.db ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 5px;
    list-style-type: decimal;
    /* counter-reset: my-counter; */
    /* сбросить счетчик */

}

.db li {
    overflow-wrap: break-word;
    padding-bottom: 5px;
    padding-right: 0;
    display: inline;
    /* counter-increment: my-counter; */
    /* увеличить счетчик */
}

.db li:before {
    /* content: counter(my-counter) '.'; */
    /* отобразить значение счетчика */
    display: inline-block;
    width: 1em;
    margin-right: 0.5em;
    text-align: right;
}

.db li:hover {
    /* color:rgb(19, 38, 124); */
    text-decoration: underline;
    cursor: pointer;
}



.db img {
    /* display: none; */
    margin-top: -4px;
    margin-left: 10px;
    vertical-align: middle;

}

.hide {
    display: none;
}

.red {
    color: red;
}


main article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

article img {
    width: 200px;
}



footer {
    margin-top: 3px;
    margin-bottom: 10px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;


}

footer a:link {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    color: rgb(255, 217, 0);
}

/* adaptive */
@media screen and (max-width: 1921px) {
    body {
        max-width: 1500px;
    }

}


@media screen and (max-width: 650px) {
    h1 {
        margin: 0 auto;
    }

    article {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
    }

    .film {
        display: block;
    }


}