* {
    /* border: solid 1px black; */
    box-sizing: border-box;
}

a:link,
a:visited,
a:hover,
a:active {
    color: black;
}

body {
    background-color:  rgba(221, 221, 221, 0.308);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-family: 'Lora', serif;
}

header {
    height: 100px;
    margin-bottom: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    background: linear-gradient(to right, rgb(255, 217, 0), rgb(255, 255, 255));

}

.form_search {
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0 20px 0 20px;
    min-width: 200px;
}

#input_search {
    background: linear-gradient(to right, rgba(139, 141, 95, 0.856), rgba(255, 255, 255, 0.849));
    font-size: 20px;
    border: none;
    border: solid 1px white;
    border-radius: 5px;
    text-align: center;
    margin-left: 10px;
}

#input_search::placeholder {
    color: rgb(255, 255, 255);
}

#input_search:focus {
    outline: none;
}

.header_search img {
    vertical-align: middle;
    margin: 7px;
}

.header_search img:hover {
    transform: scale(1.2);
}

.header_logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;

}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}


nav {
    background: linear-gradient(to left, rgba(211, 211, 189, 0.171), rgba(149, 177, 23, 0.199));
    min-width: 200px;
}

ul {
    min-height: 500px;
    background-color: rgb(61, 57, 57);
    margin-top: 0;
    margin-bottom: 0;
    padding: 15px 0px 15px 30px;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 20px;
    list-style-type: none;
    padding-right: 20px;
}

li {
    text-decoration: white;
    margin-bottom: 7px;
    padding-left: 20px;
}

li a {
    margin-left: -10px;

}

li:hover {
    list-style-type: "\1F37F";
}


nav a:link,
a:visited,
a:hover {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgb(255, 217, 0);
}


div .film {
    min-width: 568px;
    min-height: 500px;
    background: url("../image/mars.webp") center/cover no-repeat;
    padding: 20px;

}

.film_genre{
    display: inline-block;
    color: #FFFFFF;
            font-weight: bold;
            font-size: 22px;
            line-height: 28px;
}
.film_title{
    font-weight: bold;
    font-size: 40px;
    line-height: 56px;
    color: #FFFFFF;
    text-transform: uppercase;
}
.film_descr{
    width: 481px;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    text-transform: uppercase;
}
.film_ratings{
    margin-top: 13px;
}
.film_ratings span{    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #FFD500;
    margin-right: 25px;}
main article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

article img {
    width: 200px;
}



footer {
    margin-top: 3px;
    margin-bottom: 10px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;


}
footer a:link{
    color:#fff;
    text-decoration: none;
}

footer a:hover{
    color: rgb(255, 217, 0);
}

/* adaptive */
@media screen and (max-width: 1921px) {
    body {
        max-width: 1500px;
    }

}

/* @media screen and (max-width: 973px) {
main article{
}
} */

/* mibile */

@media screen and (max-width: 650px) {
    h1 {
        margin: 0 auto;
    }

    article {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
    }

    .film {
        display: block;
    }

}